<div class="p-4">
  <div class="text-center p-6 pt-4 pb-2">
    <fa-icon
      [icon]="['fat', 'menorah']"
      [classes]="['text-7xl', 'text-indigo-200', 'opacity-70']"
    ></fa-icon>
  </div>
  <h1 class="text-center text-6xl font-normal line-height-1 text-indigo-100">
    <small class="font-normal text-sm block line-height-2 opacity-50"
      >MINISTÉRIO</small
    >
    Kehilah Shalom
  </h1>
  <p class="text-indigo-100 py-5 text-justify font-light">
    Pellentesque ornare mauris ac orci varius, id venenatis libero dictum. Cras in neque nec ex rhoncus scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse facilisis libero dui, sed ultrices orci auctor in.
  </p>
  <div *ngFor="let message of messages">
    <app-message [message]="message"></app-message>
  </div>
  <router-outlet></router-outlet>
</div>
