<div class="fixed bottom-0 w-full">
  <div class="bg-indigo-900 m-3 mb-0 p-4 pb-3 border-round-top-2xl">
    <div class="pb-5 pt-2">
      <small
        >{{ currentFile.file?.service }} - {{ currentFile.file?.date }}</small
      >
      {{ currentFile.file?.preacher.name }}
    </div>
    <div>
      <mat-slider
        class="w-full pt-0 mt-0"
        [min]="0"
        [max]="state.duration"
        [step]="1"
        [value]="state.currentTime"
        (input)="onSliderChangeEnd($event)"
        [disabled]="state.error || currentFile.index === undefined"
      ></mat-slider>
    </div>
    <div class="flex justify-content-between">
      <div class="h-1rem">{{ state.readableCurrentTime }}</div>
      <div class="h-1rem">{{ state.readableDuration }}</div>
    </div>
    <div class="grid">
      <div class="col-4 text-right">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-backward"
          class="p-button-outlined p-button-rounded"
        ></button>
      </div>
      <div class="col-4 text-center">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-play"
          class="p-button-outlined p-button-rounded"
        ></button>
      </div>
      <div class="col-4 text-left">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-forward"
          class="p-button-outlined p-button-rounded"
        ></button>
      </div>
    </div>
  </div>
</div>
