<div class="fixed bottom-0 w-full">
  <div class="bg-indigo-900 m-3 mb-0 p-4 pb-3 border-round-top-2xl">
    <div class="pb-5 pt-2">
      <p-slider></p-slider>
    </div>
    <div class="grid">
      <div class="col-4 text-right">
        <button pButton pRipple type="button" icon="pi pi-backward" class="p-button-outlined p-button-rounded"></button>
      </div>
      <div class="col-4 text-center">
        <button pButton pRipple type="button" icon="pi pi-play" class="p-button-outlined p-button-rounded"></button>
      </div>
      <div class="col-4 text-left">
        <button pButton pRipple type="button" icon="pi pi-forward" class="p-button-outlined p-button-rounded"></button>
      </div>
    </div>
  </div>
</div>
