@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

html{
    background-image: linear-gradient(var(--indigo-900), black);
    background-repeat: no-repeat;
    height: 100%;
}

h1{
    font-family: 'Aboreto', cursive;
    
    small{
        font-family: 'Open Sans', sans-serif; 
        letter-spacing: 0.95em;
        padding-left: 1em;
    }
}



